/* style.css */
body{
  background: rgb(245,245,245);
  color: #006e2e;
  font-size: px;
  font-family: Courier;
}
h1{
  font-family: 'Roboto Condensed', sans-serif;
  color: black;
  font-weight: lighter;
  font-size: 30px;
}
h2 {
  font-family: Courier;
  color: pink;
  font-weight: lighter;
  font-size: 8px;
}
a {
  color: yellow;
}
a:hover {
  text-decoration: none;
  color: purple;
}
